/**
* Front Page Slider
*/
.slider-wrap { // needed to contain next/prev arrows
    position: relative;
    //text-align: center;
}
/** Not using arrows - slickjs is ignoring arrows: false */
.slick-home-next,
.slick-home-prev {
    display: none;
}
.slider-slide {
    position: relative;
}
.slider-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff !important;
    text-align: center;
    .inner-content {
      position: relative;
      top: 160px;
      margin: auto;
      width: 100%;
      max-width: 1140px;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.slider-img {
    background-size: cover;
    padding-bottom: 30%;
}
.slick-track {
    line-height: 0!important;
}
.slick-slide {
    margin-bottom: -1px;
}
/**
 * Testimonials
 */
.testimonials-wrap {
    display: none;
    width: 100%;
    margin-left: auto;
}
.testimonialtitle{
  color: white;
  text-align: center;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}
.testimonial-slide img{
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  display: inline-block!important;
  clear: none;
  width: 70px;
}
.testimonial {
  float: left;
  display: inline-block;
  clear: none;
  width: 100%;
  text-align: center;
}


.testimonials-slider {
    display: none;
    max-width: 88%;
    margin: auto;
}

/*****************Carousel*******************************/
.carouselInner{
  text-align: center;
  padding: 100px 0;
}
.carouselPop {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  min-height: 130px;
}
.carouselPop .carousel-list {
  width: 100%;
  z-index: 1000;
  position: absolute;
}
.carouselPop .carousel-list > div {
  float: left;
}

#carousel-pr-nx-0 {
  max-width: 1140px;
  margin: auto;
  margin-top: -55px;
  height: 80px;
}
.carousel-prev div{
  height: 85px;
  width: 50px;
  float: left;
  cursor: pointer;
  z-index: 9998;
  position: relative;
  display: none;
}
.carousel-next div{
  height: 85px;
  width: 50px;
  float: right;
  cursor: pointer;
  z-index: 9998;
  position: relative;
  display: none;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-initialized .slick-slide {
    display: block;
}
.carousel-content p {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    line-height: 3.5rem;
}
div.carousel-list div div img{
  display: none;
}
.carouselInner h2{
  display: none;
}
.carousel-content {
    display: inline-block;
    clear: none;
    width: 100%;
    text-align: center;
}
